@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* || OVERALL ADJUSTMENTS ||*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: var(--FF);
}

input,
button,
textarea, text, div, footer, header, section, article, aside, nav, main, ul, li, a, p, h1, h2, h3, h4, h5, h6, span, label, select, option {
    font-family: "Rubik", sans-serif;
}

html {
    width: 450px;
    min-height: var(--MIN-HEIGHT); 
    scroll-behavior: smooth;
    font-size: var(--FS-SMALL);
    font-family: var(--FF);
    background-color: var(--THIRD-COLOR);

}

.udspace {
    margin-top: 1em;
    margin-bottom: 1em;
}

.lrspace {
    margin-left: 1em;
    margin-right: 1em;
}

.lrbspace {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.lrtspace {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.colorWhite {
    background-color: aliceblue;
    height: 40px;
}

.body {
    min-height: var(--MIN-HEIGHT); 
    margin: 5px;
    height: auto;
    background-image: var(--DOMINANT-COLOR);
    border-radius: 20px;
    border-style: solid;
    border-color: var(--DARK-COLOR);
    user-select: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#saving_select {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-MEDIUM);
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
}

.header {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 80%;
    height: 10%;
    padding: 1em;
    border-radius: 20px;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
}

.header__home {
    margin: 15px;
    color: rgb(85, 146, 184);
    background-color: var(--THIRD-COLOR);
}

.noleftmargin {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.norightmargin {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section__p2 {
    font-size: var(--FS-MEDIUM);
    border-style: dotted;
    border-radius: 10%;
    padding: 1em;
}


.header__space {
   display: flex;
   justify-content: center;
   align-items: center;
}


.header__h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(85, 146, 184);
    font-size: var(--FS-LARGE);
}

.two_column {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-LARGE);
}

.section__h2, .main__h2, .footer__h2 {
    padding: 2rem;
}

.checkbox {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-MEDIUM);
    padding: 1em;
    margin: 10px;
    border-radius: 20px;
    font-style: italic;
}

.footer__tutorial {
    display: flex;
    justify-content: center;
}

.stamp {
    display: flex;
    font-size: var(--FS-MEDIUM);
    justify-content: center;
}

.stamp__link {
    border-style: none;
    user-select: none;
    margin-bottom: 5px;
    margin-right: 15px;
    background-color: transparent;
    color: var(--THIRD-COLOR);
    text-decoration: underline;
}

.stamp__link:hover, .stamp__link:focus-visible {
    color: var(--SECONDARY-COLOR-DARK);
}

.editableTitle {
    display: flex;
    width: inherit;
    height: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-LARGE);
    border-style: none;
    background-color: aliceblue;
    color:rgb(35, 158, 235);
    font-weight: bold;
}



.tutorial-myaccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stamp__button__import {
    padding: 1em;
    background-color: var(--THIRD-COLOR);
    border-radius: 20%;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
    user-select: none;
    border-style: none;
    border-color: papayawhip;
    box-shadow: 0 5px var(--DARK-COLOR);
}

.stamp__button__import:hover, .stamp__button__import:focus-visible {
    background: var(--SECONDARY-COLOR-DARK);
    color: papayawhip;
    box-shadow: 0 5px var(--DARK-COLOR);
}

.stamp__button__import:active {
    background: var(--SECONDARY-COLOR);
    box-shadow: none;
    color: papayawhip;
    box-shadow: 0 2px #778da5;
    transform: translateY(4px);
}

.stamp__button {
    padding: 1em;
    margin: 2 em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-decoration: bold;
    outline: none;
    color: rgb(98, 101, 109);
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px var(--DARK-COLOR);
}

.height54px {
    height: 54px;
}

.height66px {
    height: 66px;
}

.cancel__button {
    all: unset;
    font-size: 18px;
    font-style: italic;
    color: aliceblue;
    height: 28px;
}

.cancel__button:hover, .cancel__button:focus-visible {
    text-decoration: underline;
}

.stamp__button__blue {
    padding: 1em;
    height: 52px;
    margin: 2 em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-decoration: bold;
    outline: none;
    color: aliceblue;
    background-color: rgb(116, 176, 216);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--DARK-COLOR);
}

.stamp__button__tutorial {
    padding: 0.4em 1em 0.4em 1em;
    margin-right: 15px;
    background-color: var(--THIRD-COLOR);
    border-radius: 0%;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
    user-select: none;
    border-style: outset;
    border-color: papayawhip;
    text-wrap: nowrap;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.stamp__button__tutorial:hover, .stamp__button__tutorial:focus-visible {
    background: var(--SECONDARY-COLOR-DARK);
    color: papayawhip;
    box-shadow: 5px 5px 10px lightskyblue;
    cursor: help;
    
}

.stamp__button__tutorial:active {
    background: var(--SECONDARY-COLOR);
    cursor: help;
}



.body__space {
    user-select: none;
    color: rgb(98, 101, 109);
    height: 10%;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color: var(--THIRD-COLOR);
    border-radius: 20px;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-MEDIUM);
}

.extra {
    user-select: none;
    color: rgb(98, 101, 109);
    height: 10%;
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    background-color: var(--THIRD-COLOR);
    border-radius: 20px;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-MEDIUM);
}


.body__home {
    display: flex;
    user-select: none;
    height: auto;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-MEDIUM);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.home {
    width: auto;
    height: auto;
    max-height: 600px;
}

.project_previews {
    border-style: inset;
    border-color: var(--DARK-COLOR);

}

.start__button:hover {
    background-color: var(--SECONDARY-COLOR-DARK);
    color: aliceblue;
}
      
.start__button:active {
    box-shadow: 0 5px #778da5;
    background-color: var(--SECONDARY-COLOR);
    transform: translateY(5px);
}
      
.project__button:hover {
    background-color: var(--SECONDARY-COLOR-DARK);
    color: aliceblue;
}

.cancel__button:hover .project__header {
    height: 211px;
    background-color: #51d3f9;
}

.project__header {
    background-color: var(--THIRD-COLOR);
    margin: 1em;
}
      
.project__button:active {
    box-shadow: 0 5px #778da5;
    transform: translateY(4px);
}

.stamp__button:hover, .stamp__button:focus-visible, 
.stamp__button__blue:hover, .stamp__button__blue:focus-visible {
    background-color: var(--SECONDARY-COLOR-DARK);
    color: aliceblue;
}


      
.stamp__button:active, 
.stamp__button__blue:active {
    background-color: var(--SECONDARY-COLOR);
    box-shadow: 0 1px #778da5;
    transform: translateY(4px);
}


.logo {
    width: 30%;
    padding-bottom: 15px;
    padding-top: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.center__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.startbody {
    height: 330px;
}

.start__button {
    font-size: 18px;
    text-align: center;
    padding: 0.5em;
    width: 350px;
    margin: 1em;
    cursor: pointer;
    font-weight: bold;
    text-decoration: bold;
    outline: none;
    color: rgb(98, 101, 109);
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--DARK-COLOR);
}

.start__button__area {
    height: 50px;
}

.title {
    color: var(--BLUE);
    font-size: 40px;
    width: 250px;
    text-align: center;
}

.start {
    display: flex;
    height: 210px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--FS-LARGE);
}

.project__link {
    text-decoration: none;
    color: inherit;
}

.project__button {
    min-width: 9em; 
    padding: 1em;
    margin: 1em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-decoration: bold;
    outline: none;
    color: rgb(98, 101, 109);
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--DARK-COLOR);
}

.description {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article__text__summary {
    font-style: italic;
}

.article__summary {
    width: 30px;
    height: 30px;
    margin: 0.5em;
    border-style: dotted;
    border-color: rgb(98, 101, 109);
    border-radius: 50%;
    text-align: center;
    text-align: center;
    color: rgb(98, 101, 109);
    margin-top: 20px;
}

.article__URL {
    width: 200px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.article__title {
    width: 250px;
    display: -webkit-box;
   -webkit-line-clamp: 3; 
           line-clamp: 3; 
   -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.sources__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 0.6em;
    margin: 5px;
    color: black;
    margin-top: 20px;
    background-color: var(--THIRD-COLOR);
    border-radius: 0%;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
    user-select: none;
    border-style: outset;
    border-color: var(--DARK-COLOR);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.hr {
    border: none;
    border-top: dotted;
    border-color: var(--DOMINANT-COLOR);
    height: 0.5px;
    width: 60%;
    margin: auto;
    padding: 6px;
}

.tips {
    user-select: none;
    height: 10%;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    color: rgb(98, 101, 109);
    align-items: center;
    font-size: var(--FS-MEDIUM);
}

#add__more__sources {
    user-select: none;
    width: 100%;
    text-align: center;
    height: 10%;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    color: rgb(98, 101, 109);
    align-items: center;
    font-style: italic;
    background-color: var(--THIRD-COLOR);
    border-radius: 10%;
    opacity: 0.7;
    font-size: var(--FS-MEDIUM);
}

.space {
    margin: 1em;
}

.main__ul {
    list-style-type: none;
    padding: 1em;
}

.textcenter {
    text-align: center;
}

.italics {
    font-style: italic;
}


/* || INDEPENDENT ADJUSTMENTS ||*/

.APA__format {
    width: 250px;
    text-align: start;
}

.floating-btn {
    width: 1em;
    height: 1em;
    background: rgb(35, 158, 235);
    display: flex;  
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: papayawhip;
    font-size: 50px;
    box-shadow: 2px 2px 5px rgb(37, 27, 72);
    position: fixed;
    right: 30px;
    bottom: 30px;

}

.body__project__template {
    display: flex;
    flex-direction: column;
    height: 10%;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    align-items: center;
    font-size: var(--FS-MEDIUM);
}

.icon {
    width: 125px;
}

.article__reliability {
    width: 30px;
    padding-top: 14px;
    padding-left: 10px;
}

.icon_default {
    height: 90px;
    width: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.space_noright {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.hr {
  border: none;
  border-top: 5px dotted;
  border-color: var(--DOMINANT-COLOR);
  height: 1px;
  width: 60%;
  margin: auto;
  padding: 6px;
}

.floating-btn:hover, .floating-btn:focus-visible {
    background: #7b7b7b;
    color: papayawhip;
    box-shadow: 5px 5px 10px lightskyblue;
    animation: anchor 0.5s ease-in-out 0.1s forwards;
}

.floating-btn:active {
    background-color: rgb(34, 244, 128);
    color: black;
}

@keyframes anchor {
    0% {
        transform: scale(0.75);
    }

    80% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.25);
    }
}


.wave:before {
    background: url(wave.png);
    animation: wave 0.5s linear ease-in-out infinite;
}

@keyframes wave {
    0% {
        background-position: 0;
    }
    100% {
        background-postiion: 100;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article_complete {
    width: 400  px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numberCounter {
    width: 19px;
    text-align: center;
    font-weight: bold;
    font-family: "Oswald";
    color: rgb(98, 101, 109);
    margin-top: 14px;
    margin-left: 9px;
    margin-right: 9px;
}

.selected__button {
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-left: 9px;
    margin-right: 9px;
}

.checked-icon {
    width: 50px;
    height: 50px;
    margin-left: 100px;
}

.f3B {
    height: 53.19px;
    padding: 0.4em 1em 0.4em 1em;
    margin: auto;
    background-color: var(--THIRD-COLOR);
    border-radius: 0%;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
    user-select: none;
    border-style: outset;
    border-color: papayawhip;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: var(--SECONDARY-COLOR);
    text-align: center;
    display: block;

    
    
}



.delete {
    color: white;
    color: rgb(98, 101, 109);
}


.f3B:hover, .f3B:focus-visible {
    background: var(--SECONDARY-COLOR-DARK);
    color: papayawhip;
    box-shadow: 0px 5px 10px lightskyblue;
    
}

.footer__3B {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 10px;
    font-size: var(--FS-MEDIUM);
}



.fixed {
    position: fixed;
}

.fixed__footer {
   bottom: 0;
   right: 0;
   opacity: 0.5;
   
}

.border {
    background-color: rgba(108, 133, 153, 0.466);
    padding: 1em;
}

.fixed__footer:hover .export__footer{
    opacity: 1;
}

.fixed__footer:hover {
    opacity: 1;
}

#testing {
    height: 70px;
    width: 100%;
}

.export__footer {
    opacity: 0;
    font-size: var(--FS-MEDIUM);
    align-self: center;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: aliceblue;
    background-color: #ffab3d91;
}


.f3B:active {
    background-color: var(--SECONDARY-COLOR);
    color: papayawhip;
}

.save-method {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* || ROOTS ||*/

:root {
    --DOMINANT-COLOR: linear-gradient(to bottom, #6abfff, #51d3f9, #66e2e9, #92eed6, #c2f7c9, #d3f1b7);
    --SECONDARY-COLOR: #f57761;
    --SECONDARY-COLOR-DARK: #765e8a;
    --THIRD-COLOR: aliceblue;
    --DARK-COLOR: #3a485633;
    --BLUE: #61a1f5;

    --FF: "Rubik", sans-serif;
    --FS-SMALL: 5px;
    --FS-MEDIUM: 14px;
    --FS-LARGE: 24px;

    --MIN-HEIGHT: 300px;

}


/* || COPIED CSS ||*/


/* From Uiverse.io by aasisodiya */ 
/* The switch - the box around the slider */
.switch {
    font-size: var(--FS-MEDIUM);
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    box-shadow: var(--DARK-COLOR) 0px 2px 8px 0px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #eee;
    transition: 0.4s;
    border-radius: 0.5em;
    box-shadow: 0 0.2em #dfd9d9;
   }
   
   .slider:before {
    position: absolute;
    height: 1.5em;
    width: 4.5em;
    text-align: center;
    border-radius: 0.3em;
    left: 0.3em;
    bottom: 0.7em;
    background-color: lightsalmon;
    transition: 0.4s;
    box-shadow: 0 0.4em #bcb4b4;
    content: "NORMAL";
   }
   
   .slider:hover::before {
    box-shadow: 0 0.2em #bcb4b4;
    bottom: 0.5em;
   }
   
   input:checked+.slider:before {
    transform: translateX(3em);
    width: 3.5em;
    content: "APA";
    text-align: center;
    background: lightgreen;
   }


